.has-loading {
  position: relative;
  overflow: hidden;
  &.loading {
    pointer-events: none;
    .loading-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      z-index: 1000;
    }
  }
  &.button {
    &.loading {
      position: relative;
      overflow: hidden;
      > span {
        visibility: hidden;
      }
      .loading-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        z-index: 1000;
      }
    }
  }
}